<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary"
      (click)="onlyOdd = !onlyOdd" appBetterHighlight [defaultColor]="'mediumseagreen'">
      Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
        <li 
          class="list-group-item"
          [ngClass]="{odd:odd%2 !== 0}"
          [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'mediumslateblue' : 'transparent'}"
          *ngFor="let number of oddNumbers">
          {{number}}
        </li>
      </div>
      <!-- <div *ngIf="!onlyOdd">
        <li 
          class="list-group-item"
          [ngClass] = "{odd:even%2==0}"
          [ngStyle]="{backgroundColor: even % 2 == 0 ? 'mediumslateblue' : 'transparent'}"
          *ngFor="let number of evenNumbers">
          {{number}}
        </li>
      </div>
      </ul>
      <ng-template [ngIf]="!onlyOdd">
        <div>
          <li 
          class="list-group-item"
          [ngClass] = "{odd:even%2==0}"
          [ngStyle]="{backgroundColor: even % 2 == 0 ? 'mediumslateblue' : 'transparent'}"
          *ngFor="let number of evenNumbers">
          {{number}}
        </li>
        </div>
      </ng-template> -->
      <div *appUnless="onlyOdd">
        <li 
          class="list-group-item"
          [ngClass] = "{odd:even%2==0}"
          [ngStyle]="{backgroundColor: even % 2 == 0 ? 'mediumslateblue' : 'transparent'}"
          *ngFor="let number of evenNumbers">
          {{number}}
        </li>
      </div>
      </ul>
      <br>
      <ul class="list-group">
        <li class="list-group-item" appBasicHighlight>Style me with basic Directive!</li>
        <li class="list-group-item" appBetterHighlight [defaultColor]="'salmon'" [color]="'white'">Style me with better Directive!</li>
      </ul>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">value is 5</p>
        <p *ngSwitchCase="50">value is 50</p>
        <p *ngSwitchCase="500">value is 500</p>
        <p *ngSwitchCase="10">value is 10</p>
      </div>
    </div>
  </div>
</div>
