<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>app Component</title>
  </head>
  <body>
    <div class="container-sm">
      <div class="row">
        <div class="col-sm-12">
          <h1>I'm in a App Component.</h1>
          <hr />
          <app-servers></app-servers>
          <!-- <div app-servers></div> -->
          <!-- <div class="app-servers"></div> -->
          <!-- <app-warning-alert></app-warning-alert> -->
          <!-- <app-safe-alert></app-safe-alert> -->
        </div>
      </div>
    </div>
  </body>
</html>
