<nav class="navbar navbar-default" style="background-color: mediumslateblue;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand" style="color: white;">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" style="color: white;" (click)="onSelect('recipe')" appButton>Recipes</a></li>
                <li><a href="#" style="color: white;" (click)="onSelect('shopping-list')" appButton>Shopping list</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a href="#" style="color: white;" class="dropdown-toggle" role="button" appDropdown>Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>